<div class="container">
  <h1>Todo List</h1>
  <div class="input-group">
    <input #task type="text" class="form-control" placeholder="Task Description">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button" (click)="add(task.value)">Add</button>
    </span>
  </div>
  <ul class="todo-list">
    <li *ngFor="let todo of todos; let i = index" [attr.data-index]="i">
      <button class="btn btn-danger" (click)="delete(i)">
        Delete
      </button>
      {{ todo.task }}
    </li>
  </ul>
</div>
